<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905324145495-isie48hltdhcnstgd1qmvcbc09j7rd3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905324145495-isie48hltdhcnstgd1qmvcbc09j7rd3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>905324145495-o0ja9ujgoph3ghojeft81grkpg02k28v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCvz-HCAGOubobYUxT1qoM8XnEaa61PhI</string>
	<key>GCM_SENDER_ID</key>
	<string>905324145495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kichiset.SakuraFerry01</string>
	<key>PROJECT_ID</key>
	<string>ferrytimetable-8e728</string>
	<key>STORAGE_BUCKET</key>
	<string>ferrytimetable-8e728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905324145495:ios:bb2c0547b7fd5a74d3ac12</string>
	<key>DATABASE_URL</key>
	<string>https://ferrytimetable-8e728-default-rtdb.firebaseio.com</string>
</dict>
</plist>